<h1>Datetimepicker</h1>
<%= simple_form_for :contact, url: :contacts, method: :post do |f| %>
<div class="container">
  <div class="row">
    <div class='col-sm-6 col-sm-offset-3'>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker'>
          <%= f.input :appointment, label: false, placeholder: "Sélectionnez la date et l'heure", class: "form-control" %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit "C'est parti", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
